
<!-- header section -->
    <section class="banner" role="banner">
        <!--header navigation -->
        <header id="header">
            <div class="logo"><h2>@Html.ActionLink("QUESTIONAIRE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2></div>

            <div class="header-content clearfix">
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li>@Html.ActionLink("Welcome", "Index", "Home")</li>
                        <li>@Html.ActionLink("Questionnaires", "Index", "Questionnaire")</li>
                        <li>@Html.ActionLink("Categories(Theme)", "Index", "Theme")</li>
                        <li>@Html.ActionLink("Questions", "Index", "Question")</li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>

        </header>
        <!--header navigation -->
        
    </section>
<!-- header section -->





