@model Questionnaire.Entity.ViewModels.QuestionnaireThemesVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Questionnaire_</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Questionnaire.QuestionnaireID)

        <div class="form-group">
            @Html.LabelFor(model => model.Questionnaire.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Questionnaire.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Questionnaire.Title, "", new { @class = "text-danger" })
            </div>
        </div>



        @for (int i = 0; i < Model.Themes.Count(); i++)
        {
            <div class="form-inline">
                <input name="ThemesIDs" type="text" value="@Model.Themes.ElementAt(i).Title" />
                @if (Model.Questionnaire.Themes.Where(x => x.ThemeID == Model.Themes.ElementAt(i).ThemeID).Count() > 0)
                {
                    <input name="CheckedThemeIDs" type="checkbox" value="@Model.Themes.ElementAt(i).ThemeID" checked />
                }
                else
                {
                    <input name="CheckedThemeIDs" type="checkbox" value="@Model.Themes.ElementAt(i).ThemeID" />
                }
            </div>
        }




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
